<%= form_with(model: task) do |form| %>
  <div class="actions">
    <%= form.submit task.completed? ? "Mark Incomplete" : "Mark Complete", class: "btn btn-secondary" %>
    <%= link_to 'Destroy', @task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
<% end %>
